*{
    margin:0;
    padding:0;
}

body{
    background-color:rgba(127, 255, 212, 0.549);
    font-family: verdana;
    font-size: 1em;
    color:rgba(0, 0, 255, 0.699);
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
button{
    border-radius: 5px;
}

#form{
    padding: 0.2em;
    border: 1px solid rgba(0, 0, 255, 0.699);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.282);
    display: block;
    text-align: left;
}
.button{
    background: yellow;
    border: 0ch;
    margin-bottom: 1em;
    color: aliceblue;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.282);
    text-shadow: rgba(0, 0, 0, 0.862);
    margin-right:auto;
    transform: translate(-50% -50%);
}
button:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px 2px;
    text-shadow: none;
}
#form{
    display: inline-block;
}
